<% locals.title = "首页" %>
<% locals.js = "index" %>
<% //locals.css = "index" %>

<% include component/header %>

<h1>Websocket Socket.IO Chatroom</h1>
<div id="main">
    <div class="login" v-show="!isLogin">
        房间号：<input type="text" placeholder="请输入房间号" v-model="roomId" @keydown.enter="onLoginClick" />
        用户名：<input type="text" placeholder="请输入用户名" v-model="userName" @keydown.enter="onLoginClick" />
        <input type="button" value="登录" @click="onLoginClick" />
    </div>
    <div v-show="isLogin">
        <div class="" >
            <div>在线用户人数：{{onLineUserArr.length}}, 在线用户列表：{{onLineUserText}}, 所在房间：{{roomId}}</div>
            <input type="text" placeholder="要发送的聊天内容" v-model="chatMess" @keydown.enter="onSendMessClick">
            <input type="button" value="发送消息" @click="onSendMessClick">
        </div>
        <hr>
        <div class="chat">
            <div v-for="obj in messArr">
                <div v-if="obj.type=='chat'">
                    <span :style="{'color':obj.isMe?'blue':'black'}">{{obj.user.name}} 说：</span>
                    <span>{{obj.message}}</span>
                </div>
                <div v-if="obj.type=='system'">
                    <span style="color:red">{{obj.message}}</span>
                </div>  
            </div>
        </div>
    </div>
</div>

<% include component/footer %>